div.content {
  text-align: center;
  font-size: 2vh;
  margin-top: 50px;
  margin-top: 10vh; }

.lesmakencontent {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  text-align: center; }
  .lesmakencontent label {
    font-weight: bold; }
  .lesmakencontent .opdracht ::placeholder {
    text-align: center; }
  .lesmakencontent h1 {
    text-align: center; }
