div.content {
  text-align: center;
  // color: yellow;
  font-size: 2vh;
  margin-top: 50px;
  margin-top: 10vh;
}

.lesmakencontent {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  text-align: center;

  label{
    font-weight: bold;
  }
  
  .opdracht{
    
    ::placeholder{
      text-align: center;
      
    }

  }

  h1 {
    text-align: center;
  }
}
